head
  title Wekan
  meta(name="viewport"
   content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  //- XXX We should use pathFor in the following `href` to support the case
    where the application is deployed with a path prefix, but it seems to be
    difficult to do that cleanly with Blaze -- at least without adding extra
    packages.
  link(rel="shortcut icon" href="/cp2m-favicon.png")

template(name="feedbackform")
  section.auth-layout
    section.auth-dialog
      img.at-cp2m-logo(src="{{pathFor '/big_cp2m.png'}}" alt="CP2M")
      div.at-form-board
        select.js-select-list
          each listitem
            option(value="{{_id}}") {{title}}
            //input(type="hidden" value="{{_id}}")
        textarea.js-questions
        input.primary.wide.js-askqn(type="submit" value="{{_ 'Submit Question'}}")
      h2.js-errors

template(name="userFormsLayout")
  section.auth-layout
    h1.at-form-landing-logo
      img(src="{{pathFor '/big_cp2m.png'}}" alt="Wekan")
    section.auth-dialog
      +Template.dynamic(template=content)
      div.at-form-lang
        select.select-lang.js-userform-set-language
          each languages
            if isCurrentLanguage
              option(value="{{tag}}" selected="selected") {{name}}
            else
              option(value="{{tag}}") {{name}}

template(name="defaultLayout")
  +header
  #content
    +Template.dynamic(template=content)
  if (Modal.isOpen)
    #modal
      .overlay
      .modal-content
        a.modal-close-btn.js-close-modal
          i.fa.fa-times-thin
        +Template.dynamic(template=Modal.getHeaderName)
        +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    unless currentUser
      with(pathFor route='atSignIn')
        p {{{_ 'page-maybe-private' this}}}
